<a href="https://colab.research.google.com/github/TBirtrn53/Thomas_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
fruits = ["apple", "banana", "orange"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['apple', 'banana', 'orange']
apple
banana
orange

In [6]:
Ninjago = ["Kai", "Cole", "Jay", "Zane"]
Ninjago[0] = "Lloyd"
print(Ninjago)

['Lloyd', 'Cole', 'Jay', 'Zane']

In [7]:
vehicles = ["car", "bus", "bike", "plane", "unicycle"]
vehicles.append("moped")
print(vehicles)

['car', 'bus', 'bike', 'plane', 'unicycle', 'moped']

In [8]:
food = ["sushi", "pasta", "cake", "waffles", "biscuts", "rice"]
food.remove("biscuts")
print(food)

['sushi', 'pasta', 'cake', 'waffles', 'rice']

In [9]:
cities = ["Round Rock", "Bedford", "Denton", "Houston"]
cities.sort()
cities.reverse()
print(cities)

['Round Rock', 'Houston', 'Denton', 'Bedford']

In [12]:
animals = ["guinea pig", "turtle", "duck",]
for animal in animals:
  print(animal)

guinea pig
turtle
duck

In [13]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number * 2)

2
4
6
8
10

In [15]:
Friends = ["Chandler", "Joey", "Monica", "Phoebe", "Rachel", "Ross"]
print(Friends[:3])
print(Friends[-3:])

['Chandler', 'Joey', 'Monica']
['Phoebe', 'Rachel', 'Ross']

In [16]:
range_list = list(range(1, 11))
print(range_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
squares = [x ** 2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]